*,
*::before,
*::after {
  backface-visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  outline: none;
}

body,
.toast-background {
  color: #718096;
  background-color: #fff;
}

header {
  background-color: #fff;
}

.link {
  color: #4B5563
}

.link:hover {
  color: #1F2937
}

.highlight-text {
  color: #1F2937
}

.highlight-bg {
  background-color: #F3F4F6;
}

.highlight-border {
  border-color: #F3F4F6;
}

@media (prefers-color-scheme: dark) {

  body,
  .toast-background {
    color: #d0d6e0;
    background-color: #060606;
  }

  header {
    background-color: #060606;
  }

  .link {
    color: #95a2b3
  }

  .link:hover {
    color: #f7f8f8
  }

  .highlight-text {
    color: #f7f8f8
  }

  .highlight-bg {
    background-color: #0c0c0c;
  }

  .highlight-border {
    border-color: #0c0c0c;
  }
}